{% extends 'base.j2' %}

{% block content %}

  <section id="four" class="wrapper alt style1">
    <div class="inner">
      <h2 class="major">Жить захочешь - не так раскарячишься! Реклама</h2>
      <p>барахолка</p>
      <section class="features">
        <article>
          <a href="#" class="image"><img src={{ url_for('static', filename='images/mirr.jpg') }} alt="" /></a>
          <h3 class="major">зеркало</h3>
          <p>Продам историю</p>
          <a href="https://www.avito.ru/sankt-peterburg/mebel_i_interer/zerkalo_trelyazh_2489099739" target="_blank" class="special">Для любопытных</a>
        </article>
        <article>
          <a href="#" class="image"><img src={{ url_for('static', filename='images/pic05.jpg') }} alt="" /></a>
          <h3 class="major">Здесь могла быть ваша реклама</h3>
          <p>100$</p>
          <a href="#" class="special">Для любопытных</a>
        </article>
        <article>
          <a href="#" class="image"><img src={{ url_for('static', filename='images/pic06.jpg') }} alt="" /></a>
          <h3 class="major">Здесь могла быть ваша реклама</h3>
          <p>100$</p>
          <a href="#" class="special">Для любопытных</a>
        </article>
        <article>
          <a href="#" class="image"><img src={{ url_for('static', filename='images/pic07.jpg') }} alt="" /></a>
          <h3 class="major">Здесь могла быть ваша реклама</h3>
          <p>100$</p>
          <a href="#" class="special">Для любопытных</a>
        </article>
      </section>
      <ul class="actions">
        <li><a href="#" class="button">Посмотреть все</a></li>
      </ul>
    </div>
  </section>
{% endblock %}
